<header>
        <nav>
            <ul>
                <li><a class="<%= path === '/users' ? 'active' : '' %>" href="/users">Users</a></li>
                <li><a class="<%= path === '/admin/add-user' ? 'active' : '' %>" href="/admin/add-user">Add User</a></li>
            </ul>
        </nav>
    </header>